@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*,
*::before,
*::after{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    min-height: 100svh;
    height: 100vh;
    display: grid;
    place-items: center;
}

.wrapper{
    width: 600px;
    max-width: 60%;
    background: #202025;
    border-radius: .5em;
}

#display{
    text-align: right;
    background-color: rgba(0, 0, 10, 0.123);
    padding: 1.2em .35em;
    font-size: 2rem;
    color: #F3F1F2;
}

.buttons{
    padding: .34em;
}

.btn-row{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-bottom: 1%;
}

.btn-row > .btn:last-child{
    background-color: #2266FF;
    color: #F4F4F2;
}

.btn-row > .btn:last-child:hover{
    background-color: #3986fa;
}

.btn{
    background-color: #3f3c3c;
    border-radius: .54em;
    border: none;
    height: 3.3em;
    flex-basis: 24.3%;
    cursor: pointer;
    color: #F3F1F2;
    font-size: 1.6rem;
}

.btn:hover{
    background-color: #cccccc;
    color: #222;
    transition: .3s ease-in-out;
}

.btn:active{
    background-color: #BBBCBE;
}

.span-2{
    flex-basis: 49.6%;
}

.span-3{
    flex-basis: 74.7%;
}